<div class="text-center">

    <h1 class="text-light text-capitalize">{{sheet.dataValues._char}}</h1>
    <small class="text-light">
    
        <i>

            {{sheet.dataValues._race}} / {{sheet.dataValues._past}} / {{sheet.dataValues._class}} / {{sheet.dataValues._trade}}

        </i>
    
    </small>
</div>

